*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 1440px;
}
.container{
   max-width: 1312px;
    margin: 0 auto;
}
.header{
    height: 116px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F9F9F9;
}
.header__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    height: 40px;
    width: 134px;
}
.header__logo img{
    height: 40px;
    width: 100%x;
}
.header__search{
    position: relative;
    padding-right: 43px;
}
.header__search input{
    height: 52px;
    width: 636px;
    padding-left: 59px;
    background-color: #F9F9F9;
    font-size: 16px;
    color: #648772;
    border: 1px solid  #648772;;
    border-radius: 10px;   
}
.header__search img{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 14px;
    left: 20px;
}
.header__icons{
    height: 32px;
    width: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
width: 100%;
padding-top: 48px;
display: flex;
justify-content: start;
align-items: start;
}
.sidebar{
    width: 298px;
}
.sidebar__menu{
    height: 357px;
    width: 232px;
    margin-bottom: 75px;
    padding-top: 10px;
}
.sidebar__menu_item{
    list-style: none;
    margin-bottom: 42px;
}
.sidebar__menu_item a{
    color: #404040;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.sidebar__menu_item img{
    margin-right: 11px;
}
.sidebar__info{
    height: 294px;
    width: 298px;
    padding: 25px 0 0 20px;
    background-color: #EFFCFF;
    color: #404040;
    border-radius: 10px;   
}
.sidebar__info p{
    margin: 0 0 22px 0;
}
.sidebar__info h3{
    font-size: 16px;
    font-weight: 700;    
}
.sidebar__info span{
    font-size: 14px;
    font-weight: 500;
}
.sidebar__info_title{
    display: flex;
    justify-content: start;
}
.sidebar__info a{
    color: #404040;
    text-transform: uppercase;
    /*font-family: Plaid;*/
    font-size: 14px;
    font-weight: 700;
}
.main {
    width: 974px;
    padding-right: 64px;
    margin-left: 40px; 
}
.about {
    padding-top: 16px;
    
 }
.about__title {
    display: flex;
    justify-content: space-between;
    width: 191px;
 }

.about__title_link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color:#404040;
    opacity: 0.5;
 }
.about__title_title {
    font-size: 18px;
    font-weight: 600;
 }
 .title{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 600;
    color:#404040;  
 }
.description {
    height: 483px;
    width: 974px;
    padding-top: 40px;
 }
.description__info { 
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.description__title {
    width: 411px;
 }
.description__text { 
    width: 523px;
    font-size: 18px;
    font-weight: 400;
    color: #404040;
}
.description__img {
    width: 100%;
    padding-top: 50px;
 }
 .description__img img{
     width: 100%;
 }
 .values {
     height: 506px;
     width: 974px;
     margin-top: 120px;
  }
.values__content {
    width: 974px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
 }
.values__item { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.values__item h3{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 18px 0 10px;
}
.values__item p{
    display: block;
    height: 184px;
    width: 282px; 
    font-size: 14px;
    font-weight: 500;
    line-height: 1.9;
}

.explanation {
  margin-top: 70px;
  width: 974px;
 }
.explanation__title {
    height: 44px;
    width: 538px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.exsplanation__title_link {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #00A14B;
 }
.explanation__box { 
    height: 278px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explanation__content {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
 }
 
.explanation__item {
    display: flex;
    justify-content: start;
    align-items: flex-start;
 }
.explanation__icon {
    padding: 10px 10px 0 0;
 }
 .icon1{
     padding-right: 20px;
 }

.explanation__info {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color:#404040;
 }
 .explanation__info h4{
     font-weight: 700;
     color:#404040;
 }
.explanation__img {
    height: 271px;
    width: 451px;
 }
 .explanation__img img{
     width: 450px;
 }

 .community {
     margin-top: 70px;
     width: 974px;
  }
  .community p{
      display: block;
      width: 505px;
      padding: 14px 0 40px;
    font-size: 14px;
    font-weight: 400;
    color:#404040;
    line-height: 1.7;
  }

.community__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.cooperation{
    margin-top: 70px;
    width: 974px;
}

.cooperation__content {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.cooperation__img {
    height: 218px;
    width: 523px;
 }
.cooperation__text {
    height: 96px;
    width: 410px;
    font-size: 14px;
    font-weight: 400;
    color:#404040;
    line-height: 1.7;
 }
 .cooperation__text a{
     text-decoration: none;
     color: #00A14B;
 }