*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:  'Montserrat', sans-serif;
    color: #404040;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0;
 }
.sidebar {
    display: none;
    flex: 0 0 18%;
 }
.main {
    min-width: 320px;
    margin-top: 20px;
 }
.container {   
    padding: 0 20px;
 }
 .title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    color: #404040;
 }

/*------------------------------------*/


.aboutTitle {
    max-width: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;    
 }
.aboutTitleLink {
    text-decoration: none;
    color: #404040;
    opacity: 0.5;
 }
.aboutTitleText { 
    text-decoration: none;
    color: #404040;
    opacity: 1;
    font-weight: 600;
}
.aboutDescription {
    width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 }
.aboutDescriptionTitle {
    max-width: 410px;
    padding: 40px 0 16px;      
 }
.aboutDescriptionText {
    max-width: 410px;
    font-size: 14px;
    line-height: 1.8;
 }
.aboutImg {
    width: calc(100% + 40px);
    max-height: 220px;
    overflow-y: hidden;
    margin: 20px 0 0-20px;
 }
 .aboutImg img{
     width: 100%;
 }



/*---------------------------------------*/


 .values { 
     margin-top: 50px;
 }
.valuesTitle {
    min-width: auto;
}
.valuesContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.valuesItem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.valuesItem h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0;     
}
.valuesItem p{
    max-width: 280px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.85; 
}
.valuesItemImg {
    width: 70%;    
}
.valuesItemImg img{
    width: 100%;
}




/*------------------------------------------*/


.explanation {
    padding-top: 50px;
}
.explanationTitle h2{  
    padding-bottom: 20px;
}
.exsplanationTitleLink {
    display: none;
}
.explanationBox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;   
}
.explanationContent {
    order: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.explanationItem {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex: 0 0 50%;
}
.explanationIcon { 
    padding: 10px 15px 0 0;
    min-width: auto;
}
.explanationIcon img{
    flex: 0 0 50%;
}
.icon { 
    padding-right: 20px;    
}
.explanationInfo{
    line-height: 2.15; 
}
.explanationInfo h4{
    font-size: 12px;
    font-weight: 700;
}
.explanationInfo p{
    font-size: 12px;
    font-weight: 400;    
}
.explanationImg {
    order: 1;
    width: 100%;
}
.explanationImg img{
    width: 100%;
}
.explanationBtn {
    width: 100%;
    min-height: 52px;
    margin: 30px 0 50px;
    background-color: #00A14B;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0,02em;
}



 /*=============================*/ 


 
.communityTitle { 
    padding: 50px 0 10px;
}
.communityBox p{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
}
.communityContent { 
    display: flex;
    justify-content: start;
    overflow: hidden;
}
.communityContentItem { 
    padding: 20px 12px 0 0;
}



/*==========================================*/



.cooperationTitle {
    padding: 50px 0 20px;
}   
.cooperationImg {
    width: 100%;
    height: 100%;
}
 .cooperationImg img{
    width: 100%;
    height: 100%;
}
.cooperationText {
    padding: 20px 0 70px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.75;
}
.cooperationText a{
     color: #00A14B;
}

/*-------------------------------------*/



@media(min-width: 768px) {
    .title{
        font-size: 24px;
    }
    .aboutTitle{
        max-width: 135px;
        font-size: 14px;
    }
    .aboutDescription {
        align-items: center;
    }
    .aboutDescriptionText{
        font-size: 15px;
    }
    .aboutImg{
        max-height: 200px;
        overflow-y: hidden;
    }
    .valuesTitle {        
        font-size: 24px;
    }
    .valuesItem h3{
        font-size: 18px;
    }
    .valuesItem p{
        font-size: 15px;
        max-width: 350px;
    }
    .explanationTitle{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .exsplanationTitleLink {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 0 15px 20px;
        color:#00A14B;
    }
    .explanationTitle h2{
        font-size: 24px;
    }
    .explanationInfo{
        line-height: 1.85; 
    }
    .explanationInfo h4{
        font-size: 14px;
    }
    .explanationInfo p{
        font-size: 14px;
    }
    .explanationBtn {
        display: none;
    }
    .communityTitle {      
        font-size: 24px;
    }
    .communityBox p{
        max-width: 430px;
        font-size: 14px;
        line-height: 1.7;
    }
    .cooperationText {        
        font-size: 14px;
        line-height: 1.75;
    }
 }


/*--------------------------------------*/


@media(min-width: 1024px) {
    .content{
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 0 24px 0 64px;
    }
    .sidebar{
        display: block;         
    }
    .main{
        flex: 0 0 82%;
    }
    .container {
        padding: 0 40px;
    }
    .aboutDescription {
        max-width: auto;
        padding: 20px 0 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .aboutDescriptionTitle {
        max-width: 265px;
        padding: 0;   
    }
    .aboutDescriptionText {
        max-width: 460px;
        padding-left: 5px;
        font-size: 16px;
        line-height: 1.8;
    }
    .aboutImg {
        width: 100%;
        max-height: 283px;
        margin: 0;
    }
    .valuesContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .valuesItem:nth-child(2) {
        padding-top: 26px;
    }
    .valuesItem:nth-child(3) {
       padding-top: 5px;
    }
    .valuesItem h3{
        font-size: 20px;
    }
    .valuesItem p{
        max-width: 280px;
        font-size: 14px;
    }
    .valuesItemImg {
        width: 100%;    
    }
    .explanationBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .explanationContent{
        order: 1;
    }
    .explanationImg{
        order: 2;
        padding-left: 30px;
        flex: 0 0 50%;    
    }
    .explanationImg img{
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }
    .cooperation{
        padding: 10px 0 70px;
    }
    .cooperationContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cooperationImg {
        flex: 0 0 53%;
    }
    .cooperationImg img{
        width: 100%;
        height: 100%;
    }
    .cooperationText{
        flex: 0 0 40%;
        padding: 0;
    }
}





/*-===================================*/



@media(min-width: 1440px){
    .container {
        padding: 0 40px;
        width: 100%;
    }
    .title{
        font-size: 34px;
    }
    .aboutTitle {
        min-width: 175px;
        font-size: 18px;
    }
    .aboutDescription {
        min-width: 974px;
        padding: 27px 0 50px;
        
    }
    .aboutDescriptionTitle {
        max-width: 411px;
    }
     .aboutDescriptionText {
        min-width: 523px;
        font-size: 18px;
        line-height: 1.8;
    }
    .valuesTitle {   
        font-size: 34px;    
    }    
    .valuesItem:nth-child(3) {
        padding-top: 25px;
    }
    .valuesItem h3{
        font-size: 24px;     
    }
    .valuesItem p{
        max-width: 340px;    
        font-size: 14px; 
    }
    .explanation {
        padding-top: 70px;
    }
    .explanationTitle h2{
        font-size: 34px;
    }
    .explanationItem {
        margin-top: 40px;    
    }
    .explanationImg{
        flex: 0 0 60%;
        padding-left: 74px;
    }
    .communityTitle {     
        font-size: 34px;    
    }  
    .communityContent { 
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }  
    .cooperation{
        padding: 70px 0 120px;
    }
}
 